/*header background*/
.page-header__background{
  position: absolute;
  width: 1602px;
  height: 202px;
  background: url(img/head.svg);
}
/* фон шапки */
.page-header{
  position: absolute;
  width: 1602px;
  height: 202px;
  left: -1px;
  top: -1px;
  background: url(img/head.svg);
}

/* Mask Group */
{
  position: absolute;
  width: 1559px;
  height: 909px;
  left: -1px;
  top: 0px;
}
