.disabled{
	visibility: hidden;
}

.bordered{
	border: 1px solid black;
}

.grid-enabled .body-working-grid{
		visibility: visible;
}

.text-align_right{
	text-align: right;
}

.text-align_left{
	text-align: left;
}

.button{
	border: none;
	border-radius: 3px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	font-size: 16px;
}

.body-working-grid{
	visibility: hidden;
	position: absolute;
	margin: auto;
	top: -1px;
	z-index: 4;
}

.background{
	position: absolute;
	width: 1600px;
	margin: auto;
}

.background-elem{
	position: absolute;
}

.body{
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.page-header{
	position: relative;
	top: -10px;
	height: 202px;
	z-index: 2;
}

.h-logo{
	position: relative;
	float: left;
	width: 221px;
	height: 74px;
	left: 306px;
	top: 39px;
}

.h-menu{
	position: relative;
	float: right;
	width: 609px;
	height: 72px;
	right: 246px;
	top: 27px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.h-menu__item{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 72px;
	text-decoration: none;
	color: #FFFFFF;
}

.h-menu__button{
	width: 160px;
	height: 50px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	color: #5252FF;
	background: #FFFFFF;
}

.first-screen{
	position: relative;
	height: 910px;
	top: -202px;
	z-index: 1;
}

.first-screen-background__layer-image{
	width: 779px;
	height: 883px;
	top: 26.74px;
	left: 0px;
}

.first-screen-background__layer-2{
	top: 30px;
}

.first-screen-background__layer-3{
	top: 800px;
	left: 70px;
}

.first-screen-background__layer-4{
	top: 30px;
	left: 330px;
}

.first-screen-background__layer-5{
	top: 590px;
}

.first-screen-info-block{
	position: relative;
	width: 541px;
	height: 302px;
	margin-left: 815px;
	top: 316px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: left;
}

.first-screen-info-block__header{
	font-family: Bebas Neue Bold;
	font-size: 64px;
	line-height: 46px;
	letter-spacing: 3px;
}

.first-screen-info-block__introductory-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 46px;
	letter-spacing: 1px;
}

.first-screen-info-block__main-text{
	margin-top: 27px;
	margin-bottom: 51px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
}

.first-screen-info-block__button{
	width: 200px;
	height: 60px;
	background: #C831FD;
	box-shadow: 0px 5px 15px rgba(161, 60, 244, 0.4);
	color: #FFFFFF;
	letter-spacing: 0.8px;
}

.second-screen{
	position: relative;
	top: -300px;
	height: 907px;
	z-index: 2;
}

.second-screen-header-block{
	position: relative;
	margin: auto;
	width: 717.45px;
	height: 133px;
	top: 157px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.second-screen-header-block__header{
	font-family: Avenir Next;
	font-size: 35px;
	line-height: 72px;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.second-screen-header-block__text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.8px;
	color: #FFFFFF;
}

.second-screen-information-block{
	position: relative;
	width: 1110px;
	top: 215px; 
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.information-block-element{
	width: 255.16px;
	height: 351px;
}

.information-block-element__text{
	font-family: Avenir Next;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 2px;
	color: #000000;
	text-align: center;
	margin-top: 230px;
	margin-bottom: -30px;
	z-index: 3;
}

.information-block-element-background__layer-1{
	z-index: 0;
	top: 0px;
}

.information-block-element-background__layer-2{
	z-index: 0;
	bottom: 0px;
}

.third-screen{
	position: relative;
	height: 890px;
	top: -500px;
	z-index: 1;
}

.third-screen-article{
	position: relative;
	width: 1030px;
	margin: auto;
	top: 404px;
}

.third-screen-article__text{
	font-family: Avenir Next;
	font-size: 45px;
	line-height: 72px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 1.75px;
	color: #FFFFFF;
}

.fourth-screen{
	position: relative;
	top: -500px;
	height: 911px;
	z-index: 0;
}

.fourth-screen-background{
	top: -650px;
}

.fourth-screen-header-block{
	position: relative;
	width: 308px;
	height: 74.5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.fourth-screen-header-block__header{
	font-family: Avenir Next;
	font-size: 35px;
	line-height: 72px;
	letter-spacing: 1.75px;
	color: #000000;
}

.fourth-screen-information-block{
	position: relative;
	margin:auto;
	top: 125px;
	width: 990px;
	height: 503px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.fourth-screen-information-block-element{
	margin-bottom: 60px;
	width: 228px;
	height: 303px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.fourth-screen-information-block-element-part{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.fourth-screen-information-block-element-part__header{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1px;
}

.fourth-screen-information-block-element-part__text{
	margin-top: 20px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: #323232;
}